@import '../../../main-style.scss';

.main-container {
  display: flex;
  flex-direction: column;

  max-width: 500px;

  margin: auto;

  padding-top: 50px;
}

.lista-contatos {
  margin-top: 35px;
}

app-card-contato {
  display: block;
  margin-bottom: 25px;
}

.add-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 68px;
  height: 68px;
  border-radius: 50%;

  font-size: 24px;

  box-shadow: 0px 0px 15px 5px rgba($moonlit, 0.2);
}